.logoup {
  position: absolute;
  margin-top: 1rem;
  padding-top: 1rem;
}

.headline {
  padding-top: 6.5rem;
  margin-left: 1.4rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.container-search {
  display: flex;
  justify-content: center;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}
.search-bar {
  background: rgba(30, 31, 34, 0.85) url("../../images/search.png") no-repeat
    12px center;
  background-size: 16px 16px;
  border: none;
  outline: none;
  margin-top: 2rem;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.34);
  padding: 13px 20px 13px 35px;
  width: 100%;
  transition: background-image 0.3s ease;
}

.search-bar:focus {
  box-shadow: none;
  background-image: url("../../images/searchred.png");
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.category-selection {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.category-button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.33);
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.category-button.active {
  color: #ed1b24;
}

.indicator {
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 10px;
  background-color: #ed1b24;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
}
.product {
  margin-top: 2rem;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  background: rgba(17, 16, 16, 0.72);
  border-radius: 29px;

  width: 168px;
  height: 259px;
}

.img-product-div {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
}

.img-product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 156px;
  border-radius: 29px;
}

.product-info {
  margin: 0.4rem 0.7rem;
}

.product-name {
  width: 132px;
  height: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.product-description {
  margin-top: 0.3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.51);
}

.price-and-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 29px;
  background: #ed1b24;
  border: 1px solid #131313;
  border-radius: 10px;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.info-button:hover {
  background: #820f15;
}

.info-button img {
  width: 25px;
  height: 25px;
  position: absolute;
}
.price-tag {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 119px;
  background: rgba(0, 0, 0, 0.92);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: transform 0.4s ease-in-out;
}

.fixed-footer.hidden {
  transform: translateY(100%);
}
.icons-menu {
  width: 26px;
  height: 24.75px;
}

.custom-button {
  background: linear-gradient(
    132.21deg,
    #38383d 0%,
    rgba(50, 50, 57, 0.499123) 50.09%,
    rgba(0, 0, 0, 0) 100%
  );
  border: 1px solid #131313;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 2rem;
  right: 0%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button.hover .vector {
  transform: scale(1.3) translate(10%, 10%);
}

.custom-button.active .vector {
  transform: scale(1.3) translate(10%, 10%);
}

.vector-group {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2px;
  width: 17px;
  height: 16px;
}

.vector-group .vector {
  transform: scale(1);
}

.vector {
  width: 7px;
  height: 7px;
  background: #5c5c5e;
  border-radius: 30%;
  transition: transform 0.3s ease;
}

@media (max-width: 430px) {
  .category-selection {
    gap: 1rem;
  }

  .category-button {
    font-size: 14px;
  }

  .headline {
    font-size: 28px;
    line-height: 42px;
  }

  .search-bar {
    font-size: 12px;
    padding: 10px 15px 10px 30px;
    background-size: 12px 12px;
  }

  .indicator {
    height: 8px;
    width: 8px;
  }
}

@media (max-width: 330px) {
  .category-selection {
    gap: 0.5rem;
  }

  .category-button {
    font-size: 12px;
  }

  .headline {
    font-size: 24px;
    line-height: 36px;
  }

  .search-bar {
    font-size: 10px;
    padding: 7px 12px 7px 25px;
    background-size: 10px 10px;
  }

  .indicator {
    height: 6px;
    width: 6px;
  }
}
